<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Checkio Mission Translations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.1/js/jquery.tablesorter.js"></script>

</head>

<style>
    table td:first-child {
        text-align: left;
        background-color: #9ad0ec;
    }

    table td {
        text-align: center;
    }

    body {
        font-family: Roboto, Arial, 'Open Sans', sans-serif;
        background-color: #dceaf1;
    }

    table th {
        background-color: #9ad0ec;
        cursor: pointer;
    }
</style>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1>Checkio mission statistic</h1>
    </div>
</div>
<div class="container-fluid">
    <h1>Checkio Mission Translations</h1>
    <table id="translations" class="table table-bordered tablesorter">
        <thead>
        <tr>
            <th>
                Mission name
            </th>
            {% for lang in languages %}
            <th>{{ lang }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            <td>
                <a href="http://checkio.org/mission/{{ row.slug }}">{{ row.title }}</a>
            </td>
            {% for is_lang in row.languages %}
            <td class="{% if is_lang %}success{% else %}danger{% endif %}">
                {% if is_lang %}
                V
                {% else %}
                X
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    $("#translations").tablesorter({sortList: [[0, 0]]});
</script>
</body>
</html>